@charset "UTF-8";

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  overflow-x: hidden;
  font-family: "Pretendard-Regular", sans-serif !important;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
	background-color: #ddd;
}

body::-webkit-scrollbar-thumb {
	background-color: #666;
  border-radius: 20px;
}

.cursor {
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #fff;
  pointer-events: none;
  mix-blend-mode: difference;
  transition: 0.2s;
}

.cursor.img-cursor {
  width: 75px;
  height: 75px;
  background-color: #fff;
}

.cursor.explore-cursor {
  width: 120px;
  height: 120px;
}

.cursor.list-cursor {
  width: 120px;
  height: 120px;
  background-color: #fff;
  mix-blend-mode: normal;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  line-height: 120px;
}

.container,
.contents {
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  padding-top: 66px;
  mix-blend-mode: difference;
  transition: 0.5s ease-out;
}

header.scroll {
  padding-top: 15px;
}

header .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
  box-sizing: border-box;
}

header a {
  display: block;
  position: relative;
  width: 286px;
  height: 52px;
}

header a img {
  position: absolute;
  top: 0;
  left: 0;
}

header .menu-button {
  position: relative;
  padding-right: 40px;
  background: none;
  border: none;
  font-family: "Pretendard-Regular", sans-serif;
  font-weight: 600;
  letter-spacing: -0.01em;
  color: #fff;
}

header .menu-button::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% + 4px);
  right: 0;
  transform: translateY(-50%);
  width: 26px;
  height: 2px;
  background-color: #fff;
}

header .menu-button::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  right: 0;
  transform: translateY(-50%);
  width: 26px;
  height: 2px;
  background-color: #fff;
}

#gnb {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 150px 120px;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
  line-height: 1.18;
}

#gnb .gnb-wrap {
  width: 100%;
}

#gnb .gnb-wrap > ul {
  display: flex;
  flex-wrap: wrap;
}

#gnb .gnb-wrap > ul li {
  width: 50%;
  margin-top: 60px;
}

#gnb .gnb-wrap > ul li a {
  position: relative;
  font-family: "dystopian", "Pretendard", sans-serif !important;
  font-size: 5.313vw;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

#gnb .gnb-wrap > ul li a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

#gnb .gnb-wrap > ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

#gnb .gnb-footer {
  display: flex;
  margin-top: 60px;
}

#gnb .gnb-footer ul {
  display: flex;
  width: 50%;
}

#gnb .gnb-footer ul li {
  position: relative;
  padding-right: 10px;
}

#gnb .gnb-footer ul li::after {
  content: "·";
  display: block;
  position: absolute;
  top: 50%;
  right: 3px;
  transform: translateY(-50%);
}

#gnb .gnb-footer ul li:last-of-type::after {
  display: none;
}

#gnb .gnb-footer ul li a {
  font-family: "Pretendard-Regular";
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
  color: #cfcfcf;
}

#gnb .gnb-footer .copyright {
  font-size: 15px;
  color: #cfcfcf;
}

#gnb .gnb-footer .copyright img {
  width: 16px;
  vertical-align: middle;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
}

section > div:not(.section5-item, .section6-slide-wrap, .section7-wrap) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
  color: #fff;
}

section.scroll-motion .section-tit {
  overflow: hidden;
}

section.scroll-motion .section-tit span {
  display: inline-block;
  position: relative;
  top: 45px;
  transition: 0.5s ease-out;
  font-family: "dystopian", sans-serif;
  font-size: 46px;
  line-height: 1.18;
}

section.scroll-motion .section-desc {
  margin-top: 23px;
  overflow: hidden;
  font-family: "dystopian", "Pretendard", sans-serif !important;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.3;
}

section.scroll-motion .section-desc span {
  position: relative;
  top: 25px;
  transition: 0.5s ease-out;
}

section.scroll-motion.active .section-tit span {
  top: 0;
}

section.scroll-motion.active .section-tit.one span {
  transition-delay: 0.1s;
}

section.scroll-motion.active .section-tit.two span {
  transition-delay: 0.2s;
}

section.scroll-motion.active .section-tit.thr span {
  transition-delay: 0.3s;
}

section.scroll-motion.active .section-desc span {
  top: 0;
  transition-delay: 0.4s;
}

.section1 {
  position: relative;
  overflow: hidden;
}

.section1 h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  font-family: "dystopian", sans-serif;
  font-size: 6.563vw;
  font-weight: 300;
  list-style: 1.15;
  text-align: center;
  color: #fff;
}

.section1 h2 p {
  margin-bottom: 20px;
  overflow: hidden;
}

.section1 h2 p:last-of-type {
  margin-bottom: 0;
}

.section1 h2 span {
  display: block;
  position: relative;
  top: 104px;
  transition: 0.5s ease-out;
}

.section1 h2 span.active {
  top: 0;
}

.section1 .scroll-button {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 88px;
  height: 88px;
  background: none;
  border-radius: 50%;
  border: 1px solid #fff;
  font-family: "Pretendard-Regular", sans-serif;
  color: #fff;
  cursor: pointer;
}

.section1 video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section2 {
  padding: 0 120px;
  box-sizing: border-box;
  background: #13374B url("images/main/home_rozy.png") no-repeat top right / cover;
}

.section3 {
  padding: 0 120px;
  box-sizing: border-box;
  background: #B0CFD4 url("images/main/home_hogonheil.png") no-repeat bottom left / contain;
}

.section3 > div {
  right: 0;
}

.section4 {
  padding: 0 120px;
  box-sizing: border-box;
  background: #E1ECED url("images/main/home_ryuid.jpg") no-repeat center right / contain;
}

.section4 > div {
  color: #000 !important;
}

.section5 {
  height: auto;
  background-color: #000;
  color: #fff;
}

.section5 .section5-item {
  display: flex;
  align-items: center;
}

.section5 .section5-item:nth-of-type(2) {
  flex-direction: row-reverse;
}

.section5 .section5-item > div {
  width: 50%;
}

.section5 .section5-item .image-wrap {
  position: relative;
  overflow: hidden;
}

.section5 .section5-item .image-wrap::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: 0.6s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.section5 .section5-item:nth-of-type(2) .image-wrap::after {
  right: 0;
  left: initial;
}

.section5 .section5-item.active .image-wrap::after {
  width: 0;
}

.section5 .section5-item .image-wrap img {
  width: 100%;
  transform: translate3d(-2.8093%, 0%, 0px) scale(1.2, 1.2);
}

.section5 .section5-item .text-wrap {
  padding: 0 120px;
  box-sizing: border-box;
}

.section5 .section5-item .text-wrap .section-tit {
  overflow: hidden;
}

.section5 .section5-item .text-wrap .section-tit span {
  position: relative;
  font-family: "dystopian", sans-serif;
  font-weight: 600;
  word-break: break-all;
  transition: 0.5s ease-out;
}

.section5 .section5-item .text-wrap .section-tit.sm span {
  top: 30px;
  transition-delay: 0.1s;
  font-size: 32px;
}

.section5 .section5-item .text-wrap .section-tit.lg span {
  display: block;
  top: 120px;
  margin: 15px 0;
  transition-delay: 0.2s;
  font-size: 102px;
  line-height: 1.18;
}

.section5 .section5-item.active .text-wrap .section-tit.sm span,
.section5 .section5-item.active .text-wrap .section-tit.lg span {
  top: 0;
}

.section5 .section5-item .text-wrap .section-desc {
  overflow: hidden;
  font-size: 17px;
  line-height: 1.8;
  letter-spacing: -0.02em;
}

.section5 .section5-item .text-wrap .section-desc span {
  display: block;
  position: relative;
  top: 30px;
  transition: 0.5s ease-out;
  word-break: break-all;
}

.section5 .section5-item.active .text-wrap .section-desc span {
  top: 0;
}

.section5 .section5-item.active .text-wrap .section-desc.one span {
  transition-delay: 0.3s;
}

.section5 .section5-item.active .text-wrap .section-desc.two span {
  transition-delay: 0.4s;
}

.section5 .section5-item.active .text-wrap .section-desc.thr span {
  transition-delay: 0.5s;
}

.section5 .section5-item.active .text-wrap .section-desc.fou span {
  transition-delay: 0.6s;
}

.section5 .section5-item .text-wrap .button-wrap {
  overflow: hidden;
}

.section5 .section5-item .text-wrap .explore-button {
  display: inline-block;
  position: relative;
  top: 55px;
  margin-top: 2em;
  padding: 18px 42px;
  border-radius: 50px;
  border: 1px solid #fff;
  transition: 0.5s ease-out;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.section5 .section5-item.active .text-wrap .explore-button {
  top: 0;
  transition-delay: 0.7s;
}

.section6 {
  width: 350%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #000;
  color: #fff;
}

.section6 .section6-slide-wrap {
  display: flex;
  width: 350%;
}

.section6 h3 {
  width: 100%;
  font-family: "dystopian", sans-serif;
  font-weight: 600;
  font-size: 80px;
  text-align: center;
}

.section6 .section6-item {
  display: flex;
  align-items: center;
  position: relative;
  width: 50%;
  height: 100vh;
  padding: 100px 120px;
  box-sizing: border-box;
  overflow: hidden;
}

.section6 .section6-item.section6-motion::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: 0.6s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.section6 .section6-item.section6-motion.active::before {
  width: 0;
}

.section6 .section6-item:not(.section6 .section6-item:first-of-type)::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.section6 .section6-item:not(.section6 .section6-item:first-of-type):hover::after {
  visibility: visible;
  opacity: 1;
}

.section6 .section6-item .section-tit {
  position: relative;
  z-index: 1;
  font-family: "dystopian", "Pretendard", sans-serif !important;
  font-weight: 600;
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  line-height: 1.3;
}

.section6 .section6-item .section-tit span {
  display: block;
  margin-bottom: 16px;
  font-family: "Pretendard", sans-serif;
  font-size: 13px;
}

.section6 .section6-item .section-tit a {
  color: #fff;
  text-decoration: none;
}

.section6 .section6-item video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section6 .section6-item img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: top center;
}

.section7 {
  height: auto;
  padding: 160px 120px 240px;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
}

.section7 .section7-wrap {
  max-width: 1140px;
  margin: 0 auto;
}

.section7 h3 {
  margin-bottom: 100px;
  font-family: "dystopian", "Pretendard", sans-serif !important;
  font-weight: 600;
  font-size: 80px;
  letter-spacing: -0.02em;
  line-height: 1.2;
}

.section7 ul li {
  position: relative;
  top: 50px;
  height: 320px;
  border-top: 1px solid #444;
  opacity: 0;
  transition: 0.5s ease-out;
}

.section7 ul li:last-of-type {
  border-bottom: 1px solid #444;
}

.section7 ul li.active {
  top: 0;
  opacity: 1;
}

.section7 ul li .news-thumb {
  position: absolute;
  top: 0;
  left: 0;
  height: 320px;
}

.section7 ul li .news-thumb::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.section7 ul li:hover .news-thumb::after {
  visibility: visible;
  opacity: 1;
}

.section7 ul li .news-thumb img {
  position: relative;
  width: 20em !important;
  height: 100%;
  object-fit: cover;
}

.section7 ul li .news-wrap {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 100%;
  padding: 0 20px;
}

.section7 ul li .news-wrap .date {
  width: 35%;
  font-family: "Pretendard", sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.02em;
}

.section7 ul li .news-wrap > div {
  width: 65%;
}

.section7 ul li .news-wrap .category {
  font-size: 13px;
  line-height: 1.6;
}

.section7 ul li .news-wrap .news-tit {
  position: relative;
  padding-bottom: 2px;
  background: linear-gradient(currentColor, currentColor);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 0% 0.07em;
  transition: background-size 0.4s ease;
  font-family: "dystopian", "Pretendard", sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  letter-spacing: -0.02em;
  line-height: 1.3;
}
.section7 ul li .news-wrap .news-tit:hover {
  background-position: 0 100%;
  background-size: 100% 0.07em;
}

.section7 .more-news-button {
  display: block;
  position: relative;
  top: 50px;
  margin: 70px auto 0;
  padding: 18px 42px;
  box-sizing: border-box;
  background: none;
  border-radius: 50px;
  border: 1px solid #fff;
  font-family: "Pretendard", sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s ease-out;
}

.section7 .more-news-button.active {
  top: 0;
  opacity: 1;
}

.awwwards-winner {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translateY(-50%);
}
